@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2e3440;
  --foreground: #eceff4;
  --primary: #5d81ac;
  --accent: #8fbcbb;
  --secondary: #81a1c1;
  --primary-white: #eceff4;
  --secondary-white: #d8dee9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--primary-white);
}

h2 {
  color: var(--secondary-white);
}
